quarkus:
  log:
    level: ERROR
    category:
      "me.l3n.bot.discord":
        level: DEBUG
    file:
      enable: true
      path: logs/quarkus.log
      format: "%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1.1.1.1.1.3}] %s%e%n"
      rotation:
        max-file-size: 10M
        max-backup-index: 5
        rotate-on-boot: true
    console:
      format: "%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1.1.1.1.1.3}] %s%e%n"

cron-expr: "0 0 9,12,15,18,21 * * ? *"
"%dev":
  cron-expr: "*/5 * * * * ?"

bot:
  no-image-url: "https://thumbs.dreamstime.com/b/em-inc%C3%B3gnito-%C3%ADcone-equipe-cara-com-vidros-barba-e-chap%C3%A9u-suportes-da-foto-vetor-109640094.jpg"

url:
  goodreads-quotes: https://www.goodreads.com/quotes
  pensador:
    base: https://www.pensador.com
    populares: ${url.pensador.base}/populares
